 .footer {
            font-size: 1em;
            line-height: 2.1875em;
        }
        
        section.bg-darkgray,
			nav.bg-darkgray {
            background: #191919;
            color: white;
            font-color: white;
        }
        
        .four.columns {
            float: left;
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
			padding-left: 50px;
        }
        
        .footer ul {
            margin: 0;
            padding: 0;
            list-style: none;
        }
        
        img {
            width: 30px;
        }
        
        section#hero {
            height: 800px;
            background-image: url('images/trekking.jpg');
            background-size: cover;
        }
        
        section#hero a {
            font-color: black;
			padding:1px 0px 0px 10px
        }
		#hero{
		padding:1px 0px 0px 10px;
		}
        
        body {
            font-family: 'Abril Fatface';
            font-size: 15px;
			margin:0px;
        }
        
        .nav-item {
            font-family: 'Abril Fatface';
            font-size: 22px;
        }
		#hero a{
		font-size: 20px;
		color:antiquewhite;
		align:center;
		}
				article p{
		padding:10px 10px 10px 10px;
		}
		.col-sm-4{
		  padding: 0px 0px 10px 0px;
		}
    @media only screen and (max-width: 600px) {
    body {
        font-size: 15px;
		padding-left: 15px;
    }
	
	
}